.mainLegal{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .legalImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
.legalWord{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
}
